            strong{
                color: white;
            }
            main{
                max-width: 1200px;
                width: 90%;
                margin: 0 auto;
            }
            figure{
                padding: 10px;
                border-radius: 10%;
                max-width: 400px;
            }
            section{
                background-color: #88888877;
                margin: 10px 100px 10px 100px;
                border-radius: 5px;
                padding: 10px;
                max-width: 1000px;
                width: 80%;
                padding: 10px;
            }
            #all-sections{
                justify-content: center;
                align-items: center;
            }
            a {
                color: #AAAAAAff;
                text-decoration: none;
            }
            nav {
                text-align: center;
                color: #14cc60ff;
            }
            a:visited {
                color: white;
            }
            h1 {
                color: #14cc60ff;
                text-align: center;
            }
            h2 {
                color: #14cc60ff;
                text-align: center;
            }
            h3{
                color: #14cc60ff;
                text-align: center;
            }
            p {
                color: #14cc60ff;
                font-size: 16px;
                max-width: 600px;
                width: 80%;
                text-align: left;
                margin: 0 20%;
            }
            li {
                color: #14cc60ff;
            }
            .list {
                margin: 25px 50px 50px 25px;
                text-align: left;
            }
            .list-2{
                margin-left: 250px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 10px;
                text-align: left;
            }
            figcaption {
                color: #14cc60ff;
                font-size: 16px;
                font-style: italic;
            }
            hr {
                color: #14cc60ff;
                border-color: #14cc60ff;
            }
            table{
                background-color: #a0e33b;
                border: 2px solid black;
                border-radius: 5px;
            }
            footer {
                margin: 0 auto;
            }
            footer p{
                text-align: center;
            }
            form{
                background-color: #88888877;
                padding: 25px;
                border-radius: 50px;
            }
            label{
                color: #14cc60ff;
            }
            input{
                color: #14cc60ff;
                background-color: black;
            }
            blockquote{
                color:#14cc60ff;
            }
            img{
                padding: 10px;
                border-radius: 10%;
                max-width: 800px;
            }
            button{
                color: #14cc60ff;
                background-color: black;
            }
            /* MOBILE RULES */
            /* Remove Initial */
            html, body {
                all:initial;
            }
            /* Foundational Three */
            main {
                width: 95%;
                margin: 0 auto;
                max-width: 1200px;
            }
            body{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
                background-color: #373737ff;
                border-radius: 25px;
            }
            /* Rule Overrides For Laptops / Small Screens */
            @media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
                body {
                    background-color: #555555ff;
                    color: green;
                }
                a:visited {
                    color: darkgray;
                    text-decoration: none;
                }
            }
            /* Rule Overrides For Tablet Devices */
            @media screen and ( min-width: 601px ) and ( max-width: 980px )  {
                body {
                    background-color: #686868ff;
                    color: green;
                }
                a:visited {
                    color: darkgray;
                    text-decoration: none;
                }
            }
            /* Rule Overrides For Mobile Devices */
            @media screen and ( min-width: 370px ) and ( max-width: 600px ) {
                body {
                    background-color: #AAAAAAff;
                    color: green;
                }
                a:visited {
                    color: black;
                    text-decoration: none;
                }
                a {
                    color: green;
                    text-decoration: none;
                }
                nav {
                    text-align: center;
                    color: green;
                }
                h1 {
                    color: green;
                    text-align: center;
                }
                h2 {
                    color: green;
                    text-align: center;
                }
                h3{
                    color: green;
                    text-align: center;
                }
                p {
                    color: green;
                    font-size: 16px;
                    max-width: 600px;
                    width: 80%;
                    text-align: left;
                    margin: 0 20%;
                }
                li {
                    color: green;
                }
                figcaption {
                    color: green;
                    font-size: 16px;
                    font-style: italic;
                }
                hr {
                    color: green;
                    border-color: green;
                }
                form{
                    color: green;
                }
            }